################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/UncafezinWeb/Web.config
/UncafezinWeb/Web.Debug.config
/UncafezinWeb/Web.Release.config
/.vs/UncafezinProject/FileContentIndex/0f9ab948-2ca6-4ecd-a7b6-b011d372f526.vsidx
/.vs/UncafezinProject/FileContentIndex/25ced985-fb75-41e7-99fd-0106a6e35fc5.vsidx
/.vs/UncafezinProject/FileContentIndex/912476ef-e1e4-4ed8-9e33-927127fc4e01.vsidx
/.vs/UncafezinProject/FileContentIndex/98dcb3f8-56ab-410d-8ade-ad74aa79436e.vsidx
/.vs/UncafezinProject/FileContentIndex/d81ef264-a36b-4f3f-93f2-7c6c53ba32ef.vsidx
