@model Uncafezin.WebAppUltimate.Models.CategoryViewModel

@* <div>
    <h4>CategoryViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CategoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title fs-5" id="DetailsCategoryModalLabel">Detalhes</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="form-group mb-3">
            <dl class="row">
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.CategoryName)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.CategoryName)</dd>
            </dl>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group d-inline-flex w-100 justify-content-end">
            <input type="button" class="btn btn-secondary" value="Editar" data-bs-toggle="modal" data-bs-target="#EditCategoryModal" asp-route-id="@Model?.CategoryId" />
            <input type="button" class="btn btn-secondary mx-2" value="Voltar" data-bs-dismiss="modal" />
        </div>
    </div>
</div>